@font-face {
  font-family: "PT Sans";
  src:
    url("../src/client/assets/fonts/PT-Sans.woff2") format("woff2"),
    url("../src/client/assets/fonts/PT-Sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../src/client/assets/fonts/Bebas-Neue.woff2") format("woff2"),
    url("../src/client/assets/fonts/Bebas-Neue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f4f4f9;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
